* {
    font-family: Roboto, sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

/* Flex */
.fl {
    display: flex;
}

.fd-c {
    flex-direction: column;
}

.ai-c {
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.cu-p {
    cursor: pointer;
}

/* Fonts */
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;

    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

header .container {
    height: 100%;
}

.header__mobile {
    display: none;
}

/* Search block */
.search__block {
    position: relative;

    width: 835px;

    margin-left: 60px;
}

.search__block-label {
    position: absolute;
    left: 10px;
    top: 5px;
}

.search__block-input {
    border-radius: 5px;
    border: 1px solid #EBEBF1;

    background: #FFF;
    color: #BBC4D6;

    padding: 8px 0 8px 38px;

    width: 795px;

    font-size: 14px;
}

.search__block-input::placeholder {
    color: #BBC4D6;
}

/* User block */
.user__block {
    column-gap: 10px;
    padding-left: 19px;

    border-left: 1px solid #EBEBF1;

    height: 100%;
}

.user__block-username {
    color: #768298;

    font-size: 14px;
}

.user__block-mobile {
    display: none;

    width: 25px;
    height: 25px;
}

/* hr line */
.line {
    width: 100vw;
    height: 1px;

    border: 0;
    background: #e3e9f4;

    margin-left: calc(-50vw + 50%);
}

/* Partners block */
.partners__title {
    margin: 70px 0 30px 0;

    color: #121920;

    font-size: 36px;
    font-weight: 500;
}

.partners__list {
    flex-wrap: wrap;

    gap: 37px;
}

.partners__list-card {
    width: 280px;
    height: 120px;

    border-radius: 5px;
    border: 1px solid #EBEBF1;

    background: #FFF;
}

.partners__list-card:hover {
    box-shadow: 0 0 10px 0 rgba(164, 164, 164, 0.03), -3px 0 40px 0 rgba(0, 0, 0, 0.10);

    cursor: pointer;
}

/* Media query */
@media (max-width: 1240px) {
    .container {
        padding: 0 20px;
    }

    .partners .container {
        width: auto;
    }

    .search__block, .search__block-input {
        width: calc(100% - 80px);
    }

    .partners__title {
        font-size: 28px;
    }
}

@media (max-width: 992px) {
    .partners__list-card {
        width: 210px;
    }
}

@media (max-width: 768px) {
    header {
        height: auto;
    }

    .header__desktop {
        display: none;
    }

    .header__mobile {
        display: flex;
        padding-bottom: 8px;
        align-items: flex-start;
    }

    .header__mobile-top {
        width: 100%;
        padding-top: 17px;
        padding-bottom: 10px;
    }

    header .container {
        height: auto;
    }

    .search__block {
        margin: 0;
    }

    .search__block-label {
        left: 0;
    }

    .search__block-input {
        border: none;
        padding-left: 30px;
    }

    .user__block {
        display: none;
    }

    .user__block-mobile {
        display: block;
    }
}

@media (max-width: 375px) {
    .partners__list {
        padding-bottom: 30px;
    }

    .partners__list-card {
        width: 100%;
    }
}